{% extends "base.html" %}
{% block title %}Actualités | {{block.super}}{% endblock %}
{% block content %}
	<h1 style="width: 100%; text-align: center;">Actualités</h1>
	{% for act in acts %}
			<div class="table_actualite_titre"><a href="/forum/topic/{{act.0.topic.id}}" style="font-size: 20px;">{{act.0.topic.name}}</a><br />
			<span style="font-size: 12px;">posté par <a href="JavaScript:void(0);" onclick="ShowContact({{act.0.user.profil_set.all.0.id}},event);" style="font-size: 16px;">{{act.0.user}}</a> le {{ act.0.created|date:"d/m/Y à H:i" }}</span></div>
			{% load bbcode_tags %}
			<div class="table_actualite_content" style="background-image:linear-gradient(rgba(0,0,0,0.60),rgba(0,0,0,0.60)),url('{% if act.2 %}{{act.2}}{% else %}/static/images/divers/actu_fond.png{% endif %}');background-size:100%;">
            {% bbcode act.1 %}
            <a href="/forum/topic/{{act.0.topic.id}}">[...]<br />Lire la suite</a>
            </div>
			<br />
			<br />
{% endfor %}
{% endblock %}
