	<div class="richeditor">
		<div class="editbar">
			<button title="bold" onclick="doClick('bold');" type="button"><b>B</b></button>
			<button title="italic" onclick="doClick('italic');" type="button"><i>I</i></button>
			<button title="underline" onclick="doClick('underline');" type="button"><u>U</u></button>
			<button title="hyperlink" onclick="doLink();" type="button" style="background-image:url('/static/bbcode/images/url.gif');"></button>
			<button title="image" onclick="doImage();" type="button" style="background-image:url('/static/bbcode/images/img.gif');"></button>
			<button title="switch to source" type="button" onclick="javascript:SwitchEditor()" style="background-image:url('/static/bbcode/images/icon_html.gif');"></button>
		</div>
		<div class="container" style="background-color: white; padding: 1%;">
		<textarea id="tbMsg" name="content" style="height:150px;width:100%;">{{content}}</textarea>
		</div>
	</div>
	<script type="text/javascript">
		initEditor("tbMsg", true);
	</script>
	<br />
	<input type="submit" onclick="doCheck();" value="Envoyer" />
