{% extends 'pybb/base.html' %}

{% block pybb_crumbs %}Accueil{% endblock %}

{% block pybb_content %}
{% for cat in cats %}
<h3>{{ cat }}</h3>
<table class="forum_page">
    <thead>
        <tr>
            <th style="width:7%;">Visité</th>
            <th style="text-align: left; width: 79%;">Forum</th>
            <th style="width: 7%;">Topics</th>
            <th style="width: 7%;">Posts</th>
        </tr>
    </thead>
    <tbody>
        {% for forum in cat.forums.all %}
    	{% if forloop.counter|divisibleby:2 %}
        <tr style="background-color: rgba(230,184,138,0.1);">
        {% else %}
        <tr style="background-color: rgba(230,184,138,0.15);">            
        {% endif %}
            <td>
            {% for key,value in dejavu.items %}
                {% if key == forum %}
                    {% if value == 0 %}
                    <img src="/static/images/forum/nouveau_topic.png" />
                    {% elif value == 1 %}
                    <img src="/static/images/forum/vu.png" />
                    {% else %}
                    <img src="/static/images/forum/nouveau_post.png" />
                    {% endif %}
                {% endif %}
            {% endfor %}
            </td>
            <td style="text-align: left;"><a href="{{ forum.get_absolute_url }}">{{ forum }}</a></td>
            <td>{{ forum.topic_count }}</td>
            <td>{{ forum.post_count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}
{% if user.is_authenticated %}
<table>
<tr>
<td width="33%" align="center">Nouveau topic</td>
<td width="33%" align="center">Nouveau post</td>
<td width="33%" align="center">Vu</td>
</tr>
<tr>
<td align="center"><img src="/static/images/forum/nouveau_topic.png" /></td>
<td align="center"><img src="/static/images/forum/nouveau_post.png" /></td>
<td align="center"><img src="/static/images/forum/vu.png" /></td>
</tr>
</table>
{% endif %}
<script language="javascript">
    function SuppressTopic(topic,forum) {
        if (confirm("Déplacer le topic et tous ses messages dans la section des discussions supprimées, accessibles uniquement par le staff ? (Une restauration est possible, mais compliquée, ne prenez pas cette décision à la légère)")) {
                location.href='/forum/topic/delete/'+topic+'?forum='+forum;
        }
    }
</script>
{% endblock %}
