{% extends 'base.html' %}
{% block title %}Tournoi {{tournoi.name}} | {{block.super}}{% endblock %}

{% block content %}
<a href="/tournoi/">Tournois</a>
<h3>Tournoi {{tournoi.name}}</h3>
<p><a href="/tournoi/detail/{{tournoi.id}}">Détails</a></p>
{% if tournoi.termine %}
<p>Le tournoi est terminé</p>
{% if tournoi.vainqueur %}
<p><b>Le vainqueur est {{tournoi.vainqueur.profil_set.all.0.pseudo}}</b></p>
{% endif %}
{% endif %}
{% if not arbre and not tournoi.termine %}
<p>L'arbre n'a pas encore été généré</p>
{% elif not arbre and tournoi.termine %}
<p>Aucun match n'a eu lieu</p>
{% else %}
{% if error_msg %}
<p style="color:red;">{% if error_msg == "invalide" %}Le score reporté ne correspond pas au format demandé{% elif error_msg == "dismatch" %}Le score rapporté par votre opposant est différent. Veuillez corriger votre score ou contacter un responsable du tournoi.{% endif %}</p>
{% endif %}
{% if next_match %}
<p>
Prochain match :<br />
{{next_match.first.profil_set.all.0.pseudo}} ({{next_match.first.profil_set.all.0.battletag}}) VS {% if next_match.second %}{{next_match.second.profil_set.all.0.pseudo}} ({{next_match.second.profil_set.all.0.battletag}}){% else %}<i>A déterminer</i>{% endif %}
{% if next_match.first and next_match.second %}
<form method="POST" action="/tournoi/update/{{next_match.id}}">
<input name="sc_f" value="{%if request.user == next_match.first and next_match.score_first%}{{next_match.score_first|slugify|slice:"0:1"}}{% elif request.user == next_match.second and next_match.score_second%}{{next_match.score_second|slugify|slice:"0:1"}}{% endif %}" /> - <input name="sc_s" value="{% if request.user == next_match.first and next_match.score_first%}{{next_match.score_first|slugify|slice:"1:2"}}{% elif request.user == next_match.second and next_match.score_second%}{{next_match.score_second|slugify|slice:"1:2"}}{% endif %}" />{% csrf_token %} <input type="submit" value="Valider" />
</form>
{% if request.user == next_match.first and next_match.score_first%}En attente du report de résultat de votre adversaire{% endif %}{%if request.user == next_match.second and next_match.score_second %}En attente du report de résultat de votre adversaire{% endif %}
{% endif %}
</p>
{% endif %}
{% for match in arbre %}
<div class="col{{match.col}} row{{match.row}}">
{{match.first.profil_set.all.0.pseudo}}{% if match.score %} {{match.score|slugify|slice:"0:1"}}{% endif %} - {% if match.freewin %}<i>Freewin</i>{% else %}{% if match.score %}{{match.score|slugify|slice:"1:2"}}{% endif %} {{match.second.profil_set.all.0.pseudo}}{% endif %}
{% if admin or request.user == tournoi.admin %}
{% if not match.valide and match.first and match.second %}
<form method="POST" action="/tournoi/update/{{match.id}}">
<input name="sc_f" /> <input name="sc_s" />{% csrf_token %} <input type="submit" value="Valider" />
</form>
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% endblock %}
