{% extends 'base.html' %}
{% block title %}Tournoi {{tournoi.name}} | {{block.super}}{% endblock %}

{% block content %}
<a href="/tournoi/">Tournois</a> / {{tournoi.name}}</a>
<h3>Tournoi {{tournoi.name}}</h3>
<p><b><a href="/tournoi/detail/{{tournoi.id}}">Détails</a> - Arbre</b></p>
{% if error_msg %}
<p style="color:red;">{% if error_msg == "invalide" %}Le score reporté ne correspond pas au format demandé{% elif error_msg == "dismatch" %}Le score rapporté par votre opposant est différent. Veuillez corriger votre score ou contacter un responsable du tournoi.{% elif error_msg == "battletag" %}Il vous faut un BattleTag pour participer aux tournois{% endif %}</p>
{% endif %}
<center>
{% if tournoi.termine %}
<p>Le tournoi est terminé</p>
{% endif %}
{% if tournoi.vainqueur %}
<p><b>Le vainqueur est {{tournoi.vainqueur.profil_set.all.0.pseudo}}</b></p>
{% elif tournoi.termine %}
<p>Il n'y a pas de vainqueur pour ce tournoi</p>
{% endif %}
{% if not arbre and not tournoi.termine %}
<p>L'arbre sera généré le {{tournoi.date|date:"d m Y"}} à {{tournoi.heure|date:"H:i"}}</p>
{% if request.user == tournoi.admin %}<a href="/tournoi/launch/{{tournoi.id}}">Lancer le tournoi maintenant</a>{% endif %} 
{% elif not arbre and tournoi.termine %}
<p>Aucun match n'a eu lieu</p>
</center>
{% else %}
<a href="">Rafraîchir</a>
</center>
{% if next_match %}
<p>
<b>Prochain match</b> :<br />
<div class="match next_match{%if next_match.col == 1 and next_match.row == 0 %}finale{% endif %}" style="width:400px;">
<div class="pseudo" style="line-height:15px;margin-top:6px;">{{next_match.first.profil_set.all.0.pseudo}}<br />({{next_match.first.profil_set.all.0.battletag}})</div><div class="pseudo" style="line-height:15px;">{% if next_match.second %}{{next_match.second.profil_set.all.0.pseudo}}<br />({{next_match.second.profil_set.all.0.battletag}}){% else %}<i>A déterminer</i>{% endif %}</div>
{% if next_match.first and next_match.second %}
<form method="POST" action="/tournoi/update/{{next_match.id}}">
<div class="resultat">{% csrf_token %}
<input name="sc_f" size="1" value="{%if request.user == next_match.first and next_match.score_first%}{{next_match.score_first|slice:"0:1"}}{% elif request.user == next_match.second and next_match.score_second%}{{next_match.score_second|slice:"0:1"}}{% endif %}" />
</div>
<div class="resultat resultat2">
<input name="sc_s" size="1" value="{% if request.user == next_match.first and next_match.score_first%}{{next_match.score_first|slice:"1:2"}}{% elif request.user == next_match.second and next_match.score_second%}{{next_match.score_second|slice:"1:2"}}{% endif %}" />{% csrf_token %}
</div>
<div class="boutons boutons2">
<input type="submit" value="OK" />
</div>
</form>
<div class="boutons">
{% if next_match.col == 1 %}{{next_match.tournoi.get_finale_display}}{% else %}{{next_match.tournoi.get_match_display}}{% endif %}
</div>
</div>
<p>
{% if request.user == next_match.first and next_match.score_first%}En attente du report de résultat de votre adversaire{% endif %}{%if request.user == next_match.second and next_match.score_second %}En attente du report de résultat de votre adversaire{% endif %}
</p>
{% else %}
</div>
{% endif %}
{% endif %}
<hr />
<div id="arbre">
<div>
<div>
{% load set_var %}
{% set inter = -1 %}
{% for match in arbre %}
{% if match.row == 0 %}
{% set inter = inter %}
</div>
{% if match.col == 1 %}
<div class="col" id="col0"><center><b>Finales</b> {{match.tournoi.get_finale_display}}</center>
{% elif match.col == 2 %}
<div class="col" id="col2"><center><b>Demi-finales {{match.tournoi.get_match_display}}</b></center>
{% elif match.col == 4 %}
<div class="col" id="col4"><center><b>Quarts {{match.tournoi.get_match_display}}</b></center>
{% elif match.col == 8 %}
<div class="col" id="col8"><center><b>Huitièmes {{match.tournoi.get_match_display}}</b></center>
{% elif match.col == 16 %}
<div class="col" id="col16"><center><b>Seizièmes {{match.tournoi.get_match_display}}</b></center>

{% endif %}
{% endif %}
{% if match.col == 1 and match.row == 1 %}<div>{% else %}<div class="inter{{inter}}">{% endif %}</div>
<div class="{% if next_match == match %}next_match{% if match.row == 0 and match.col == 1 %}finale{% endif %}{% endif %} match{% if match.row == 0 and match.col == 1 %} finale{% endif %}">
<div class="pseudo id{{match.first.id}}"{% if match.first %} onmouseover="OnIn('id{{match.first.id}}');" onmouseout="OnOut('id{{match.first.id}}');"{% endif %}>
{% if match.freewin and match.valide %}{% if not match.first %}<i>Freewin</i>{% endif %}{% elif not match.first %}<i>Inconnu</i>{% endif %}{{match.first.profil_set.all.0.pseudo|slice:"0:12"}}
</div>
<div class="pseudo id{{match.second.id}}"{% if match.second %} onmouseover="OnIn('id{{match.second.id}}');" onmouseout="OnOut('id{{match.second.id}}');"{% endif %}>
{% if match.freewin and not match.second %}<i>Freewin</i>{% elif not match.second %}<i>Inconnu</i>{% endif %}{{match.second.profil_set.all.0.pseudo|slice:"0:12"}}
</div>
{% if admin or request.user == tournoi.admin %}
{% if not match.valide and match.first and match.second %}
<form method="POST" action="/tournoi/update/{{match.id}}">
<div class="resultat"><input name="sc_f" size="1" /></div><div class="resultat resultat2"><input name="sc_s" size="1" /></div>{% csrf_token %}
<div class="boutons">Nul<input type="checkbox" name="freewin" /></div>
<div class="boutons boutons2"><input type="submit" value="OK" /></div>
</form>
{% else %}
<div class="resultat">{% if match.score %}{{match.score|slice:"0:1"}}{% endif %}</div><div class="resultat resultat2">{% if match.score %}{{match.score|slice:"1:2"}}{% endif %}</div>
{% endif %}
{% else %}
<div class="resultat">{% if match.score %}{{match.score|slice:"0:1"}}{% endif %}</div><div class="resultat resultat2">{% if match.score %}{{match.score|slice:"1:2"}}{% endif %}</div>
{% endif %}
{% if match.valide %}
<div class="boutons"><img src="/static/images/tournoi/{% if match.col == 1 %}{% if match.score.0|add:"0" == match.tournoi.finale or match.freewin and match.first and match.score != "00" %}victoire{% else %}defaite{% endif %}{% else %}{% if match.score.0|add:"0" == match.tournoi.match or match.freewin and match.first and match.score != "00" %}victoire{% else %}defaite{% endif %}{% endif %}.png" height="80%" /></div>
<div class="boutons boutons2"><img src="/static/images/tournoi/{% if match.col == 1 %}{% if match.score.1|add:"0" == match.tournoi.finale or match.freewin and match.second and match.score != "00" %}victoire{% else %}defaite{% endif %}{% else %}{% if match.score.1|add:"0" == match.tournoi.match or match.freewin and match.second and match.score != "00" %}victoire{% else %}defaite{% endif %}{% endif %}.png" height="80%" /></div>
{% endif %}
</div>
<div class="clear"></div>
{% if match.col == 1 and match.row == 1 %}
{% elif match.col == 1 and match.row == 0 %}
{% else %}
<div class="inter{{inter}}"></div>
{% endif %}
{% endfor %}
</div>
</div>
{% endif %}
<script type="text/javascript">
function OnIn(elem) {
    var tds = document.getElementsByClassName(elem);
    for(var i = 0; i < tds.length; i++) {
        tds[i].style.color = "#cd853f";
    }
}
function OnOut(elem) {
    var tds = document.getElementsByClassName(elem);
    for(var i = 0; i < tds.length; i++) {
        tds[i].style.color = "white";
    }
}
</script>
{% endblock %}
