{% extends 'base.html' %}
{% block title %}Créer un tournoi | {{block.super}}{% endblock %}
{% block script %}
	<link rel="stylesheet" href="/static/calendar/css/datepicker.css" type="text/css" />
	<script type="text/javascript" src="/static/calendar/js/jquery.js"></script>
	<script type="text/javascript" src="/static/calendar/js/datepicker.js"></script>
    <script type="text/javascript" src="/static/calendar/js/eye.js"></script>
    <script type="text/javascript" src="/static/calendar/js/utils.js"></script>
    <script type="text/javascript" src="/static/calendar/js/layout.js"></script>
{% endblock %}


{% block content %}
<a href="/tournoi/">Tournois</a> / Créer un tournoi
{% for error in tournoi.errors %}
{% if error == "perime" %}
<p style="color:red;">
La date du tournoi est déjà passée.
</p>
{% endif %}
{% if error == "regles" %}
<p style="color:red;">
Vous devez spécifier des règles pour le tournoi.
</p>
{% endif %}
{% if error == "debut" %}
<p style="color:red;">
Vous devez spécifier une date correcte au début du tournoi.
</p>
{% endif %}
{% if error == "name" %}
<p style="color:red;">
Vous devez spécifier un nom pour le tournoi.
</p>
{% endif %}
{% if error == "descr" %}
<p style="color:red;">
Vous devez spécifier une description pour le tournoi.
</p>
{% endif %}
{% endfor %}
<form action="{% if edit %}?id={{tournoi.instance.id}}{% endif %}" method="POST">
<table class="forum_page">
<tbody>
{% for key in tournoi %}
    {% if forloop.counter|divisibleby:2 %}
    <tr style="background-color: rgba(230,184,138,0.1);">
    {% else %}
    <tr style="background-color: rgba(230,184,138,0.15);">            
    {% endif %}
    <th>{{key.label}}</th>
    <td>{% if key.name == "date" %}<input class="inputDate" id="inputDate" name="date" value="{{tournoi.instance.date|date:"Y-m-d"}}" /> *{% elif key.name == "descr" %}{% include "pybb/bbcode.html" with name=key.name content=tournoi.instance.descr %}{% else %}{{key}}{% endif %}{% if key.name == "heure" %} *{%endif %}</td>
    </tr>
{% endfor %}
{% csrf_token %}
</tbody>
</table>
* Vous pouvez lancer le tournoi manuellement avant l'heure
</form>
{% endblock %}
