{% extends 'base.html' %}
{% block title %}Tournois | {{block.super}}{% endblock %}

{% block content %}
<script language="JavaScript">
function getSelect(selectId,destId)
{
    var selectElmt = document.getElementById(selectId);
    document.getElementById(destId).value = document.getElementById(destId).value+selectElmt.options[selectElmt.selectedIndex].value+" ";
}
</script>
<a href="/tournoi/">Tournois</a> / {{tournoi.name}}
<h3>Tournoi {{tournoi.name}}</h3>
<p><a href="/tournoi/arbre/{{tournoi.id}}">Arbre</a></p>
    {% if tournoi.termine %}<center>Le tournoi est terminé</center><br />{% endif %}
    {% if tournoi.vainqueur %}<center><b>Le vainqueur est {{tournoi.vainqueur.profil_set.all.0.pseudo}}</b></center><br />
    {% elif tournoi.termine %}<center>Il n'y a pas de vainqueur pour ce tournoi</center><br />{%endif %}
    {% if request.user.is_active %}
    <center>{% if inscrit %}<span style="color:green;">Vous êtes inscrit à ce tournoi{% if inscrop %} (<a href="/tournoi/desinscription/{{tournoi.id}}">Se désinscrire</a>){% endif %}</span>{% else %}{% if inscrop %}<a href="/tournoi/inscription/{{tournoi.id}}">S'inscrire au tournoi</a>{% endif %}{% endif %}</center>
    {% endif %}
    {% if request.user == tournoi.admin %}
    <p><a href="/tournoi/create/?id={{tournoi.id}}">Editer le tournoi</a></p>
    {% endif %}
    {% if membres %}
    <table class="forum_page">
    <tr>
    <th colspan="2">Modifier du staff au tournoi</th>
    <th colspan="2">Modifier les invitations au tournoi</th>
    </tr>
    <tr>
    <td>Mes contacts : <select id="staff_contact" onchange="getSelect('staff_contact','staff')">
    <option value="">-----</option>
    {% for contact in contacts %}
    <option value="{{contact.contact.pseudo}}">{{contact.contact.pseudo}}</option>
    {% endfor %}
    </select>
    </td>
    <td>Membres du site : <select id="staff_membre" onchange="getSelect('staff_membre','staff')">
    <option value="">-----</option>
    {% for membre in membres %}
    <option value="{{membre.pseudo}}">{{membre.pseudo}}</option>
    {% endfor %}
    </select>
    </td>
    <td>Mes contacts : <select id="invit_contact" onchange="getSelect('invit_contact','invit')">
    <option value="">-----</option>
    {% for contact in contacts %}
    <option value="{{contact.contact.pseudo}}">{{contact.contact.pseudo}}</option>
    {% endfor %}
    </select>
    </td>
    <td>Membres du site : <select id="invit_membre" onchange="getSelect('invit_membre','invit')">
    <option value="">-----</option>
    {% for membre in membres %}
    <option value="{{membre.pseudo}}">{{membre.pseudo}}</option>
    {% endfor %}
    </select>
    </td>
    </tr>
    <tr>
    <td colspan="2"><form action="/tournoi/detail/{{tournoi.id}}" method="POST">{% csrf_token %}<input type="hidden" name="action" value="staff" /><textarea cols="45%" rows="3" name="staff" id="staff">{% for staff in staffs %}{{staff.admin.username}} {% endfor %}</textarea><br /><input type="submit" value="Editer le staff" /></form></td>
    <td colspan="2"><form action="/tournoi/detail/{{tournoi.id}}" method="POST">{% csrf_token %}<input type="hidden" name="action" value="invite" /><textarea cols="45%" rows="3" name="invit" id="invit">{% for invite in invites %}{{invite.invite.username}} {% endfor %}</textarea><br /><input type="submit" value="Editer les invitations" /></form></td>
    </tr>
    </table>
    {% endif %}
<table class="forum_page">
<tbody>
    {% if tournoi.prive %}
    <tr style="background-color: rgba(230,184,138,0.15);">            
    <th colspan="4" style="color:red;">Ce tournoi est privé</th>
    </tr>
    {% endif %}
    <tr style="background-color: rgba(230,184,138,0.1);">
    <td style="width:25%;"><img width="100px" src="{{tournoi.admin.profil_set.all.0.avatar}}" /></td>
    <td style="width:25%;">{{tournoi.admin.profil_set.all.0.pseudo}}</td>
    <td style="width:25%;">{{tournoi.date|date:"d-m-Y"}}</td>
    <td style="width:25%;">{{tournoi.heure|date:"H:i"}}</td>
    </tr>
    <tr style="background-color: rgba(230,184,138,0.15);">            
    {% load bbcode_tags %}
    <td colspan="4">{%bbcode tournoi.descr%}</td>
    </tr>
    <tr style="background-color: rgba(230,184,138,0.1);">
    <th>Participants</th>
    <td>{{tournoi.inscrit}} / {{tournoi.max_participants}}</td>
    <th>Formats</th>
    <td>
    {% if tournoi.poules %}Poules : {{tournoi.get_poules_display}}<br />{% endif %}
    {% if tournoi.loser_bracket %} Loser bracket : {{tournoi.get_loser_bracket_display}}<br />{% endif %}
    Matchs : {{tournoi.get_match_display}}<br />
    Finale : {{tournoi.get_finale_display}}<br />
    </td>
    </tr>
</tbody>
</table>
<h3>Staff</h3>
<ul>
<li><a href="JavaScript:void(0);" onclick="ShowContact({{tournoi.admin.profil_set.all.0.id}},event);">{{tournoi.admin.profil_set.all.0.pseudo}}</a></li>
{% for s in staffs %}
<li><a href="JavaScript:void(0);" onclick="ShowContact({{s.admin.profil_set.all.0.id}},event);">{{s.admin.profil_set.all.0.pseudo}}</a></li>
{% endfor%}
</ul>
<h3>Inscrits</h3>
<ul>
{% for i in inscrits %}
<li><a href="JavaScript:void(0);" onclick="ShowContact({{i.user.profil_set.all.0.id}},event);">{{i.user.profil_set.all.0.pseudo}}</a></li>
{% endfor %}
</ul>
{% if attente %}
<h3>En attente</h3>
<ul>
{% for i in attente %}
<li><a href="JavaScript:void(0);" onclick="ShowContact({{i.user.profil_set.all.0.id}},event);">{{i.user.profil_set.all.0.pseudo}}</a></li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
