{% extends 'base.html' %}
{% block title %}Tournois | {{block.super}}{% endblock %}


{% block content %}
<a href="/tournoi/create/">Créer un tournoi</a><br />
<h3>Tournois ouverts</h3>
<table class="forum_page">
<tbody>
{% if not tournoi_open %}
    <tr style="background-color: rgba(230,184,138,0.1);">
    <td>Il n'y a pas de tournoi disponible</td>
    </tr>
{% else %}
<tr><th>Nom</th><th>Date</th><th>Inscrits</th></tr>
{% for t in tournoi_open %}
    {% if forloop.counter|divisibleby:2 %}
    <tr style="background-color: rgba(230,184,138,0.1);">
    {% else %}
    <tr style="background-color: rgba(230,184,138,0.15);">            
    {% endif %}
    <td><a href="/tournoi/detail/{{t.id}}">{{t.name}}</a></td>
    <td>{{t.date|date:"Y-m-d"}} {{t.heure|time:"H:i"}}</td>
    <td>{{t.inscrit}} / {{t.max_participants}}</td>
    </tr>
{% endfor %}
{% endif %}
</tbody>
</table>
<h3>Tournois en cours</h3>
<table class="forum_page">
<tbody>
{% if not tournoi_en_cours %}
    <tr style="background-color: rgba(230,184,138,0.1);">
    <td>Il n'y a pas de tournoi en cours</td>
    </tr>
{% else %}
<tr><th>Nom</th><th>Date</th><th>Inscrits</th></tr>
{% for t in tournoi_en_cours %}
    {% if forloop.counter|divisibleby:2 %}
    <tr style="background-color: rgba(230,184,138,0.1);">
    {% else %}
    <tr style="background-color: rgba(230,184,138,0.15);">            
    {% endif %}
    <td><a href="/tournoi/detail/{{t.id}}">{{t.name}}</a></td>
    <td>{{t.date|date:"Y-m-d"}} {{t.heure}}</td>
    <td>{{t.inscrit}} / {{t.max_participants}}</td>
    </tr>
{% endfor %}
{% endif %}
</tbody>
</table>
<h3>Tournois finis</h3>
<table class="forum_page">
<tbody>
{% if not tournoi_fini %}
    <tr style="background-color: rgba(230,184,138,0.1);">
    <td>Il n'y a pas de tournoi terminé</td>
    </tr>
{% else %}
<tr><th>Nom</th><th>Date</th><th>Inscrits</th></tr>
{% for t in tournoi_fini %}
    {% if forloop.counter|divisibleby:2 %}
    <tr style="background-color: rgba(230,184,138,0.1);">
    {% else %}
    <tr style="background-color: rgba(230,184,138,0.15);">            
    {% endif %}
    <td><a href="/tournoi/detail/{{t.id}}">{{t.name}}</a></td>
    <td>{{t.date|date:"Y-m-d"}} {{t.heure}}</td>
    <td>{{t.inscrit}} / {{t.max_participants}}</td>
    </tr>
{% endfor %}
{% endif %}
</tbody>
</table>
{% endblock %}
