{% for img in deck %}
{% if img == "B" %}
<img src="/static/images/class/chaman.jpg" height="20px" />
{% elif img == "C" %}
<img src="/static/images/class/chasseur.jpg" height="20px" />
{% elif img == "D" %}
<img src="/static/images/class/demo.jpg" height="20px" />
{% elif img == "E" %}
<img src="/static/images/class/druide.jpg" height="20px" />
{% elif img == "G" %}
<img src="/static/images/class/guerrier.jpg" height="20px" />
{% elif img == "M" %}
<img src="/static/images/class/mage.jpg" height="20px" />
{% elif img == "P" %}
<img src="/static/images/class/paladin.jpg" height="20px" />
{% elif img == "Q" %}
<img src="/static/images/class/pretre.jpg" height="20px" />
{% elif img == "V" %}
<img src="/static/images/class/voleur.jpg" height="20px" />
{% endif %}
{% endfor %}
