<!DOCTYPE html>

<html lang="fr">

	<head>
		<title>{% block title %}Hearthstone Romandie{% endblock %}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="/static/styles/style_1.css" />
		<link rel="stylesheet" type="text/css" href="/static/styles/forum_1.css" />
		<link rel="shortcut icon" href="/static/images/favicon/favicon_anim.gif" >
		<link rel="icon" href="/static/images/favicon/favicon_anim_f.gif" type="image/gif" >
		<link href='http://fonts.googleapis.com/css?family=Balthazar' rel='stylesheet' type='text/css'>
        <link href="/static/bbcode/editor.css" rel="Stylesheet" type="text/css" />
        <script src="/static/bbcode/editor.js" type="text/javascript"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 

        {% block script %}
        {% endblock %}
        {% if request.user.is_active %}
        <script type="text/javascript"> 
        $(document).ready(function(){
            $.ajaxSetup({ cache: false });
            setInterval(function() {
                $("#menu_droite_in").load('/notification/indicator/');
            }, 5000);
        });
        $(document).ready(function() {
            $('#chat').submit(function() { // catch the form's submit event
                $.ajax({ // create an AJAX call...
                    data: $(this).serialize(), // get the form data
                    type: $(this).attr('method'), // GET or POST
                    url: $(this).attr('action'), // the file to call
                    success: function(response) { // on success..
                        $('#menu_droite_in').load('/notification/indicator/'); // update the DIV
                        $('#chat_message').val('');
                    }
                });
                return false;
            });
        });
        </script>
        
        {% endif %}
	</head>
	
	<body onscroll="iDiv=document.getElementById('showcontact');if(iDiv != null){iDiv.parentNode.removeChild(iDiv);}">
	
	
		
	
	<div id="canvas_all">
<div id="logo_sgtv_box"></div>
        <div id="sgtv">
            <table>
            <tr onclick="WebTV('sgtv1');" class="tr_webtv">
            <td><img src="/static/images/webtv/sgtv1.png" /></td><td>-</td><td id="on_sgtv1"></td>
            </tr>
            <tr onclick="WebTV('sgtv2');" class="tr_webtv">
            <td><img src="/static/images/webtv/sgtv2.png" /></td><td>-</td><td id="on_sgtv2"></td>
            </tr>
            <tr onclick="WebTV('sgtv3');" class="tr_webtv">
            <td><img src="/static/images/webtv/sgtv3.png" /></td><td>-</td><td id="on_sgtv3"></td></tr>
            </table>
        </div>
<!--
        <button onclick="WebTV();">Stream</button>
-->
		<div id="logo"></div>

		
		<div id="pas_fiable2"></div>
		<div id="getg"></div>
		
		<div id="twitter_box">
		<a class="twitter-timeline" href="https://twitter.com/HS_Romandie" data-widget-id="539348362961883137">Tweets by @HS_Romandie</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
		
		<div id="twitter_bird"></div>
		
		<div id="liens">
			<div class="liens-titre"><h3>Liens utiles</h3></div>
			<ul class="liens_liste">
				<li><a href="http://www.twitch.tv/hearthstonefr" target="_blank">HSFR TV (TV Hearthstone FR 24/7 !)</a></li>
				<li><a href="http://hearthstone-decks.com" target="_blank">Hearthstone Decks</a></li>
				<li><a href="https://www.youtube.com/user/hearthstonefr" target="_blank">HSFR Strategy</a></li>
				<li><a href="http://www.hearthnews.fr" target="_blank">HearthNews</a></li>
	               <li><a href="http://achievementgen.com/hearthstone/" target="_blank">Générateur de cartes</a></li>
			</ul>
		</div>
	
		
		
		<div id="menu">
		</div>
		
		<a href="/"><div id="menu_actualite_h"></div></a>
		<a href="/forum/"><div id="menu_forum_h"></div></a>
		<a href="/profil/recherche/"><div id="menu_membres_h"></div></a>
		<a href="/tournoi/"><div id="menu_tournoi_h"></div></a>
		
		<div id="gvg_pack"></div>
		
		<div id="gvg_cards">
		
		<!-- Les cartes doivent avoir la dimmension 145x104 ! -->
		
		<div id="gvg_cards_bientot"></div>
	
		</div>
		
		<div id="menu_droite" style="width:300px;">
        {% if not request.user.is_active %}
            <form METHOD="POST" ACTION="/profil/">
            <table>
            <tr><td><input type="hidden" value="{{request.path}}" name="url" />Identifiant</td><td><input size="14" name="username" /></td></tr><tr><td>Mot de passe</td><td><input size="14" name="password" type="password" /></td></tr><tr><td><a href="/profil/">Inscription</a></td><td>{% csrf_token %}<input type="submit" value="Login" /></td></tr>
            <tr><td><a href="/profil/resetpwd/">Mot de passe oublié ?</a></td></tr>
            </table>
            </form>
        {% endif %}
	    <div id="menu_droite_in" style="width:100%;">	
        {% include 'notification/indicateur.html' %} 
		</div>
        <div style="height:85%;overflow:hidden;">
        <div id="notif_feed" style="width:100%;overflow:auto;height:0%;display:none;">
        {% if notif_profil_step %}
        <script type="text/JavaScript">
    $(document).ready(function(){
    $("#waiting_notif").show();
    document.getElementById("chat_droite").style.height = "95%";
    $("#notif_feed").hide('slow');
    document.getElementById("notif_feed").style.height = "0%";
    document.getElementById("notif_feed").style.height = "70%";
    $("#notif_feed").load('/profil/{{notif_profil_step}}',function(){
        document.getElementById("feed_content").value = '{{notif_profil_step}}';
        $("#notif_feed").show('slow',function(){
            document.getElementById("chat_droite").style.height = "25%";
            $("#waiting_notif").hide();
        });
    });
    });
        
        </script>    
        {% endif %}
        </div>
        <input id="feed_content" type="hidden" value="" />
        <div id="waiting_notif" style="display:none;width:100%;"><center><img src="/static/images/icones/waiting.gif" /></center></div>
        <hr />
        <div style="width:100%;background-color:red;"><center><b>BETA</b></center></div>
        <hr />
        <div id="notif_matchs"></div>
        <div id="chat_droite" style="width:100%;overflow:auto;height:95%;"></div>
        </div>
		{% if request.user.is_active %}			
        <form action="/notification/indicator/" method="POST" id="chat"><table style="width: 100%;"><td>
        {{request.user.profil_set.all.0.pseudo}}</td><td><input type="text" name="message" id="chat_message" style="width: 100%;" /></td>
        <td><center><input type="submit" value="Chat" /></center></td></table>
        {% csrf_token %}
        </form>
		{% endif %}
        <div id="vusrecemment">
        </div>
		</div>
	
	       
		<div id="content">
            <noscript>
                <center><span style="color:red;">Ce site nécessite une activation du JavaScript pour une utilisation optimale.</span><br /></center>
            </noscript>
            <div id="webtv" style="display:none;"></div>
			{% block content %}
			{% endblock %}
		</div>
        <div class="clear"></div>
	
		<!-- FOOTER --><!--
		<div id="footer">
			<center>Ce footer est super cool</center>
		</div>-->
		<!-- FOOTER -->
	
	<p style="display: block; width: 100%; height: 40%;">
	<br /></p>
	<br />
	
	</div>
    <script type="text/JavaScript">
    function ShowContact(id,event) {
        iDiv = document.getElementById('showcontact');
        if (iDiv){
        iDiv.parentNode.removeChild(iDiv);
        }
        var iDiv = document.createElement('div');
        document.getElementsByTagName('body')[0].appendChild(iDiv); 
        iDiv.id = 'showcontact';
        iDiv.style.width = "200px";
        iDiv.style.position = 'absolute';
        x = event.clientX-100;
        y = event.clientY;
        $('#showcontact').load('/profil/detail/'+id+'/?x='+x+'&y='+y);
    }



    function WebTV(tv) {
        var content = $("#webtv").text();
        if (content != tv) {
            document.getElementById("webtv").innerHTML = '<center><iframe style="border: 1px solid rgba(230,184,138,0.6);" width="819" height="1350" src="/stream/?tv='+tv+'" frameborder="0">'+tv+'</iframe></center>';
            $("#webtv").slideDown(200);
        } else {
            $("#webtv").slideUp(200);
            setTimeout(function() { document.getElementById("webtv").innerHTML = '';}, 200);
        }
    }
    function Stream(tv) {
        $.ajax({
            type: "GET",
            dataType: "jsonp",
            url: 'https://api.twitch.tv/kraken/streams/'+tv+'',
            success : function (result) {
                var twitchData = result;
                var on = 0;
                if (twitchData) {
                    if (twitchData.stream) {
                        document.getElementById("on_"+tv).innerHTML = '<img src="/static/images/webtv/_on.png" />';
                    } else {
                        document.getElementById("on_"+tv).innerHTML = '<img src="/static/images/webtv/_off.png" />';
                    }
                } else {
                    document.getElementById("on_"+tv).innerHTML = '<img src="/static/images/webtv/_off.png" />';
                }
            }
        });
    }
    Stream('sgtv1'); 
    Stream('sgtv2'); 
    Stream('sgtv3'); 
    interval = setInterval(function() {
        Stream('sgtv1'); 
        Stream('sgtv2'); 
        Stream('sgtv3'); 
    }, 10000);
    </script>
	</body>

</html>
