<!DOCTYPE html>

<html lang="fr">

	<head>
		<title>{% block title %}Hearthstone Romandie{% endblock %}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="/static/styles/style_1.css" />
		<link rel="stylesheet" type="text/css" href="/static/styles/forum_1.css" />
		<link rel="shortcut icon" href="/static/images/favicon/favicon_anim.gif" >
		<link rel="icon" href="/static/images/favicon/favicon_anim_f.gif" type="image/gif" >
		<link href='http://fonts.googleapis.com/css?family=Balthazar' rel='stylesheet' type='text/css'>
        <link href="/static/bbcode/editor.css" rel="Stylesheet" type="text/css" />
        <script src="/static/bbcode/editor.js" type="text/javascript"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 
        {% block script %}
        {% endblock %}
        {% if request.user.is_active %}
        <script type="text/javascript"> 
        $(document).ready(function(){
            $.ajaxSetup({ cache: false });
            setInterval(function() {
                $("#menu_droite_in").load('/notification/indicator/');
            }, 10000);
        });
        $(document).ready(function() {
            $('#chat').submit(function() { // catch the form's submit event
                $.ajax({ // create an AJAX call...
                    data: $(this).serialize(), // get the form data
                    type: $(this).attr('method'), // GET or POST
                    url: $(this).attr('action'), // the file to call
                    success: function(response) { // on success..
                        $('#menu_droite_in').load('/notification/indicator/'); // update the DIV
                        $('#chat_message').val('');
                    }
                });
                return false;
            });
        });
        </script> 
        {% endif %}
	</head>
	
	<body>

		<div id="logo">
		</div>
			
		<div id="menu">
		</div>
		
		<a href="/"><div id="menu_actualite_h"></div></a>
		<a href="/forum/"><div id="menu_forum_h"></div></a>
		<a href="/profil/recherche/"><div id="menu_membres_h"></div></a>
		<a href="/tournoi/"><div id="menu_tournoi_h"></div></a>
		
		<div id="liens">
			<div class="liens-titre"><h3>Liens utiles</h3></div>
			<ul class="liens_liste">
				<li><a href="http://hearthstone-decks.com" target="_blank">Hearthstone Decks</a></li>
				<li><a href="https://www.youtube.com/user/hearthstonefr" target="_blank">HSFR Strategy</a></li>
				<li><a href="http://www.hearthnews.fr" target="_blank">HearthNews</a></li>
	               <li><a href="http://achievementgen.com/hearthstone/" target="_blank">Générateur de cartes</a></li>
			</ul>
			<!-- <div class="liens-titre"><h3>Partenaires</h3></div> -->
			<ul class="liens_liste">
			<!-- <li><a href="http://www.jeuxvideo.ch/" target="_blank">Mix Image</a></li> -->
			</ul>
		</div>
		
		{% if request.user.is_active %}			
		<div id="menu_droite">
	    <div id="menu_droite_in">	
        {% include 'notification/indicateur.html' %} 
		</div>
        <br />
        <form action="/notification/indicator/" method="POST" id="chat">
        {{request.user.profil_set.all.0.pseudo}} - <input name="message" id="chat_message" />
        <input type="submit" value="Chat" />
        {% csrf_token %}
        </form>
        <br />
        <div id="menu_droite_bas">
        </div>
		</div>
		{% endif %}
	
	    <div id="deco">
	    {% if request.user.is_active %}
	        <b> {{ request.user.username }} </b><a href="/profil/">&nbsp;Profil</a><span style="color: #8B4513;"> | </span><a href="/profil/deco/?url={{request.path}}">Déconnexion</a>
	        {% else %}
            <form METHOD="POST" ACTION="/profil/">
            <table>
            <tr><td><input type="hidden" value="{{request.path}}" name="url" />Identifiant</td><td><input size="14" name="username" /></td></tr><tr><td>Mot de passe</td><td><input size="14" name="password" type="password" /></td></tr><tr><td><a href="/profil/">Inscription</a></td><td>{% csrf_token %}<input type="submit" value="Login" /></td></tr>
            </table>
            </form>
	    {% endif %}
	    </div>
	       
		<div id="content">
            <noscript>
                <center><span style="color:red;">Ce site nécessite une activation du JavaScript pour une utilisation optimale.</span><br /></center>
            </noscript>
			{% block content %}
			{% endblock %}
		</div>
        <div class="clear"></div>
	
		<!-- FOOTER --><!--
		<div id="footer">
			<center>Ce footer est super cool</center>
		</div>-->
		<!-- FOOTER -->
	
	<p style="display: block; width: 100%; height: 40%;">
	<br /></p>
	<br />
	</body>

</html>
