{% if request.user.is_active %}
{% if notif_sound %}
<audio id="notif_sound" style="display:none;">
<source src="/static/sound/alert.ogg" type="audio/ogg">
<source src="/static/sound/alert.mp3" type="audio/mpeg">
Prout
</audio>
<script type="text/JavaScript">
$(document).ready(function(){
    var sample = document.getElementById("notif_sound");
    sample.play();
});
</script>
{% endif %}
<script type="text/JavaScript">
$(document).ready(function(){
    var titre = document.title
    var value = {{notif_nombre|add:notif_messages}}
    if (value != 0)
    {   
        if (titre[0] == "(")
        {
            titre = "("+value+") "+titre.split(")")[1];
        } else {
            titre = "("+value+") "+titre;
        }
    }else{
        if (titre[0] == "(")
        {
            titre = titre.split(")")[1];
        }
    }
    document.title = titre;
});
</script>
<div id="notif_buttons" style="width:100%;height:65px;">

<div style="float:left;width:70px;"><!--PROFIL-->
<center><a href="/profil/editer/"><img src="{{request.user.profil_set.all.0.avatar}}" height="40px" />
<br />
{{request.user.profil_set.all.0.pseudo}}</a></center>
</div>

<div style="float:left;width:70px;"><!--MESSAGE-->
<script type="text/JavaScript">
function FeedNotif(url,choice) {
    $("#waiting_notif").show();
    $("#notif_feed").css("overflow", "hidden");
    setTimeout(function(){
        $("#notif_feed").css("overflow", "auto");
    }, 5000);
    document.getElementById("chat_droite").style.height = "95%";
    $("#notif_feed").hide('slow');
    document.getElementById("notif_feed").style.height = "0%";
    if (document.getElementById("feed_content").value == choice) { 
        $("#notif_feed").innerHTML = "";
        document.getElementById("feed_content").value = "";
                $("#waiting_notif").hide();
    }else{
        document.getElementById("notif_feed").style.height = "70%";
        $("#notif_feed").load(url+choice+'/',function(){
            $("#notif_feed").show('slow',function(){
                document.getElementById("chat_droite").style.height = "25%";
                $("#waiting_notif").hide();
            });
        });
        document.getElementById("feed_content").value = choice;
    }
}
</script>
<center>
<a href="javascript:void(0)" onclick="FeedNotif('/notification/','messages');">
<img src="/static/images/icones/message.png" height="40px" />
<br />
{% if notif_messages %}
<span style="background-color:red;">
{% else %}
<span>
{% endif %}
{{notif_messages}}
</span>
</a>
</center>
</div>

<div style="float:left;width:70px;"><!--NOTIF-->
<center>
<a href="javascript:void(0)" onclick="FeedNotif('/notification/','notification');">
<img src="/static/images/icones/notif.png" height="40px" />
<br />
{% if notif_nombre %}
<span style="background-color:red;">
{% else %}
<span>
{% endif %}
{{notif_nombre}}
</span>
</a>
</center>
</div>

<div><!--DECO-->
<center>
<a href="/profil/deco/?url={{request.path}}"><img src="/static/images/icones/deco.png" height="40px" /></a>
</center>
</div>

</div>
{% endif %}
<script type="text/JavaScript">
var chat = '<center><b>Chat</b></center><table width="100%">{% for c in notif_chat  %}<tr class="forum_row" style="background-color: rgba(230,184,138,0.1);"><td><center><a href="JavaScript:void(0);" onclick="ShowContact({{c.user.profil_set.all.0.id}},event);">{{c.user.profil_set.all.0.pseudo}}</a></center></td><td><center>{{c.created|date:"d/m" }}{% load bbcode_tags %} - {{c.created|date:"H:i" }}</center></td></tr><tr class="forum_row" style="background-color: rgba(230,184,138,0.15);"><td colspan="2">{% if forloop.counter|divisibleby:2 %}<span style="color: #F5DEB3;">{% else %}<span>{% endif %}{% bbcode c.message %}</span></td></tr>{% endfor %}</table>';
var vusrecemment = 'Vus récemment :{% for ls in notif_lastseen %} <a href="JavaScript:void(0);" onclick="ShowContact({{ls.id}},event);"{% if ls.u.is_superuser %} style="color:red;"{% else %}{% if ls.u.is_staff %} style="color:blue;"{% endif %}{% endif %}>{{ls.pseudo}}</a>{%endfor%}';
$(document).ready(function(){
    document.getElementById("chat_droite").innerHTML = chat;
    document.getElementById("vusrecemment").innerHTML = vusrecemment;
{% if notif_messages %}
    if (document.getElementById("feed_content").value == "messages") {
        $("#notif_feed").load("/notification/messages/");
    }
{% endif %}
});
</script>
