<center><b>Messages</b></center>
<div id="all_msg" style="height:95%;overflow:auto;">
<div id="titres" style="height:100%;overflow:auto;width:95%;">
<center>Ecrire à <select name="contact" id="contact" onchange="OpenMessage(0)">
<option value="">-----</option>
{% for contact in contacts %}
<option value="{{contact.contact.u.id}}">{{contact.contact.pseudo}}</option>
{% endfor %}
</select>
</center>
<br />
{% if non_lu %}
<br />
<br />
<center><b>Non lus</b></center>
{% for nl in non_lu %}
<div style="background-color: rgba(230,184,138,0.30);width:95%;margin:2px;padding:5px;">
<a href="Javascript:void(0);" onclick="OpenMessage({{nl.id}});">
<b>{% for dest in nl.convdest_conv.all %}{% if dest.user != request.user %} {{dest.user}}{% endif %}{% endfor %}</b>
<span class="message_date">{{nl.convmessage_conv.all.last.date|date:"d/m/Y H:i" }}</span> <br /> {{ nl.convmessage_conv.all.last.message }}
</a>
</div>
{% endfor %}
{% endif %}
<br />
<br />
<center><b>Lus</b></center>
{% for nl in lu %}
<div style="background-color: rgba(230,184,138,0.1);width:95%;margin:2px;padding:5px;">
<a href="Javascript:void(0);" onclick="OpenMessage({{nl.id}});">
<b>{% for dest in nl.convdest_conv.all %}{% if dest.user != request.user %} {{dest.user}}{% endif %}{% endfor %}</b>
<span class="message_date">{{nl.convmessage_conv.all.last.date|date:"d/m/Y H:i" }}</span> <br /> {{ nl.convmessage_conv.all.last.message }}
</a>
</div>
{% endfor %}
</div>

<div id="messages" style="overflow:auto;height:95%;display:none;"></div>
</div>

<script type="text/JavaScript">
function OpenMessage(conv){
    if (conv == 0) {
        var selectElmt = document.getElementById('contact');
        if( selectElmt.options[selectElmt.selectedIndex].value != "" ) {
            argv = "/notification/message/"+conv+"/?dest="+selectElmt.options[selectElmt.selectedIndex].value;
        } else {
            return;
        }
    }else{
        argv = "/notification/message/"+conv+"/";
    }
    $("#all_msg").css("overflow", "hidden");
    $("#titres").hide('slow');
    $("#messages").show('slow');
    $("#messages").load(argv);
    $("#feed_content").val('readmsg');
    $("#all_msg").css("overflow", "auto");
}
</script>
