<b>{% for d in dest %}<a href="JavaScript:void(0);" onclick="ShowContact({{message.user.profil_set.all.0.id}},event);">{{d.user}}</a>{% endfor %}</b>
<br />
<div id="all_messages" style="height:73%;overflow:auto;">
{% for message in messages %}
{% if message.user == request.user %}
<div id="message" style="background-color: rgba(230,184,138,0.1);width:95%;margin:2px;padding:5px;">
{% else %}
<div id="message" style="background-color: rgba(230,184,138,0.30);width:95%;margin:2px;padding:5px;">
{% endif %}
<b><a href="JavaScript:void(0);" onclick="ShowContact({{message.user.profil_set.all.0.id}},event);">{{message.user}}</a></b> <span class="message_date">{{message.date|date:"d/m/Y H:i" }}</span><br />
{{message.message}}
</div>
{% endfor %}
</div>
<form id="new_message" method="POST" action="/notification/new_message/">
<input type="hidden" name="conv" value="{{conv}}" /><br />
<textarea name="message" id="msg" cols="35" rows="4"></textarea><br />
<input type="submit" value="Envoyer" />
{% csrf_token %}
</form>
<script type="text/javascript"> 
var objDiv = document.getElementById("all_messages");
objDiv.scrollTop = objDiv.scrollHeight;
$(document).ready(function(){
    $.ajaxSetup({ cache: false });
    if (typeof inter != 'undefined') {
        clearInterval(inter);
    }
    inter = setInterval(function() {
        $("#all_messages").load('/notification/message/{{conv}}/?refresh=yes');
    }, 5000);
});
$(document).ready(function() {
    $('#new_message').submit(function() { // catch the form's submit event
        $.ajax({ // create an AJAX call...
            data: $(this).serialize(), // get the form data
            type: $(this).attr('method'), // GET or POST
            url: $(this).attr('action'), // the file to call
            success: function(response) { // on success..
                $('#msg').val('');
                $("#all_messages").load('/notification/message/{{conv}}/?refresh=yes');
            }
        });
        return false;
    });
});
</script>
