{% for message in messages %}
{% if message.user == request.user %}
<div id="message" style="background-color: rgba(230,184,138,0.1);width:95%;margin:2px;padding:5px;">
{% else %}
<div id="message" style="background-color: rgba(230,184,138,0.30);width:95%;margin:2px;padding: 5px;">
{% endif %}
<b><a href="JavaScript:void(0);" onclick="ShowContact({{message.user.profil_set.all.0.id}},event);">{{message.user}}</a></b> <span class="message_date">{{message.date|date:"d/m/Y H:i" }}</span><br />
{{message.message}}
</div>
{% endfor %}
<script type="text/JavaScript">
                if(document.getElementById('all_messages').scrollHeight - document.getElementById('all_messages').scrollTop - document.getElementById('all_messages').clientHeight <= 50)
                {
                var objDiv = document.getElementById("all_messages");
                objDiv.scrollTop = objDiv.scrollHeight;
                }
</script>
