<!DOCTYPE html>
<html>
    <head>
        <title>Swiss Gaming TV</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="/static/styles/style_webtv.css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    </head>
    <body>
<div class="main">

    <div class="content">
<!-- AFTERBURN MOZARTFUTCOEUR -->
                <header>

                <ul>
                <li><ul class="mod">
                        <li><a class="popup" onclick="window.open('.','name','width=1226,height=900,scrollbars=yes')"></a></li>
                        <!--<li><a class="sofa"></a></li>
                        <li><a class="fullscreen"></a></li>-->
                    </ul></li>
                 <li><ul id="buttons"> 
                        <li><a id="sgtv1" class="tvbtn" onclick="ChangeTV('sgtv1');">SGTV1</a></li>
                        <li><a id="sgtv2" class="tvbtn" onclick="ChangeTV('sgtv2');">SGTV2</a></li>
                        <li><a id="sgtv3" class="tvbtn" onclick="ChangeTV('sgtv3');">SGTV3</a></li>
                    </ul></li>
                <!--<li><a href="S'abonner">S'abonner</a>-->
                </header>
                <div class="clear"><!-- FOR CLEAR THE BOARD --></div>
                <section id="class">              
                <div id="sgtv"><!-- FOR WEBTV --></div>              
                </section>
    </div>
<aside id="chat_frame"><!-- FOR CHAT --></aside>
<div class="clear"><!-- FOR CLEAR THE BOARD seriously--></div>
    <section class="sub-content">

        <ul class="logos">
            <li><a class="sgtv"></a></li>
            <li><a class="geneva" target="_blank" href="http://www.geneva-e-sport.com/"></a></li>
            <li><a class="rodg" target="_blank" href="http://www.romandy-gaming.com"></a></li>
            <li><a class="gfed" target="_blank" href="http://gamingfederation.ch/"></a></li>
            <li><a class="hsrom" target="_blank" href="http://hearthstone-romandie.ch/"></a></li>
        </ul>
        <article>
                <h1>Swiss Gaming TV</h1>
                <p>C'est une webtv qui a pour principal but de dynamiser l'e-sport et le jeu vidéo en Suisse Romande. Vous pouvez ainsi venir régulièrement profiter de la bonne humeur de nos streamers Suisses Romands!</p>
                <h1>Règlement</h1>
                <ul>
                    <li>Le respect envers les autres est la règle primordiale.</li>
                    <li>Ne pas poster de lien dans le chat.</li>
                    <li>Ne parler qu'en français et en anglais dans le chat.</li>
                    <li>Profiter et se détendre.</li>
                </ul>
        </article>
        <article>
                <h1>Horaires</h1>
                <p>Demombre sera absent la semaine du 19 au 25 janvier</p>
                <p>Lundi 19 Kaiden sera sur SGTV2, car Buisson et Zae seront sur SGTV1 de 19h à 21h</p>
                <img src="/static/images/webtv/horaire_iframe_sgtv1.png" />
                <br />
                <img src="/static/images/webtv/horaire_iframe_sgtv2.png" />
        </article>
    </section>
    <div class="clear" style="margin-bottom:40px;"><!-- FOR CLEAR THE BOARD seriously--></div>
</div>

        

       <!-- <div id="menu_left">
            <img src="/static/images/webtv/logo/sgtv.png"/>
            <a target="_blank" href="http://www.geneva-e-sport.com/" ><img src="/static/images/webtv/logo/geneva_esport.png" /></a>
            <a target="_blank" href="http://www.romandy-gaming.com"><img src="/static/images/webtv/logo/romandy_gaming.png" /></a>
            <a target="_blank" href="http://gamingfederation.ch/"><img src="/static/images/webtv/logo/gaming_federation.png" /></a>
            <a target="_blank" href="http://hearthstone-romandie.ch/"><img src="/static/images/webtv/logo/hsr.png" /></a>
        </div> -->
    <script language="javascript">
    function LoadAjax(tv,change,player,chat) {
        $.ajax({
            type: "GET",
            dataType: "jsonp",
            url: 'https://api.twitch.tv/kraken/streams/'+tv+'',
            success : function (result) {
                var twitchData = result;
                if (twitchData) {
                    if (twitchData.stream) {
                        titre = twitchData.stream.channel.status;
                        viewers = twitchData.stream.viewers;
                        details = viewers+' viewers';
                    } else {
                        titre = 'Chaîne hors ligne';
                        details = '';
                    }
                } else {
                    titre = 'Chaîne hors ligne';
                    details = '';
                }
                if (change == 1) {
                    LoadDiv(tv,titre,player,details,chat);
                } else {
                    LoadDetails(titre,details);
                }
            }
        });
    
    }
    function LoadDiv(tv,titre,player,details,chat) {
        document.getElementById("sgtv").innerHTML = '<div id="tv_titre">'+titre+'</div><div id="tv_player">'+player+'</div><div id="tv_details">'+details+'</div>';
        TitleSize();
        document.getElementById("chat_frame").innerHTML = '<div id="tv_chat">'+chat+'</div>';
        var buttons = document.getElementsByClassName('tvbtn');
        for (i = 0; i < buttons.length; i++) {
            document.getElementById(buttons[i].id).style.backgroundColor = "";
        }
        document.getElementById(tv).style.backgroundColor = "#911802";
        $.ajaxSetup({ cache: false });
        if (typeof interval != 'undefined') {
            clearInterval(interval);
        }
        interval = setInterval(function() {
            LoadAjax(tv);
        }, 10000);
    }
    function LoadDetails(titre,details) {
        document.getElementById("tv_titre").innerHTML = titre;
        TitleSize();
        document.getElementById("tv_details").innerHTML = details;
    }
    function ChangeTV(tv) {
        var player = '<div class="videoWrapper"><iframe id="player" src="http://www.twitch.tv/'+tv+'/embed" frameborder="0" scrolling="no" seamless="seamless"></iframe></div>';
        var chat = '<iframe id="chat" src="http://www.twitch.tv/'+tv+'/chat?popout=" frameborder="0" scrolling="no" height="500" width="300"></iframe>';
        LoadAjax(tv,1,player,chat);
    }
    ChangeTV('sgtv1');
    function TitleSize() {
        var width = document.getElementById("tv_titre").clientWidth;
        var titre = $("#tv_titre").text().split("").length;
        var result = (width/titre)*2;
        var new_value = 20;
        if (result < 20) {
            new_value = result;
        }
        document.getElementById("tv_titre").style.fontSize = new_value+"px";
    }
    </script>
</body>
</html>
