<!DOCTYPE html>

<html lang="fr">

	<head>
		<title>Swiss Gaming TV</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="/static/styles/style_webtv.css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	</head>
	
	<body>

        <div id="container">
            <div id="popup">
                <button onclick="window.open('.','name','width=,height=')">Popup</button>
            </div>
            
        
        	<div id="buttons">
            	<button id="sgtv1" class="tvbtn" onclick="ChangeTV('sgtv1');"></button>
            	<button id="sgtv2" class="tvbtn" onclick="ChangeTV('sgtv2');"></button>
            	<button id="hearthstonefr" class="tvbtn" onclick="ChangeTV('hearthstonefr');"></button>
			</div>
		
            <div id="sgtv">
            </div>

        </div>
        
        <div id="menu_left">
        </div>
        
        <div id="chat_frame">
        </div>

    <script language="javascript">
    function LoadAjax(tv,change,player,chat) {
        $.ajax({
            type: "GET",
            dataType: "jsonp",
            url: 'https://api.twitch.tv/kraken/streams/'+tv+'',
            success : function (result) {
                var twitchData = result;
                if (twitchData) {
                    if (twitchData.stream) {
                        titre = twitchData.stream.channel.status;
                        viewers = twitchData.stream.viewers;
                        details = viewers+' viewers';
                    } else {
                        titre = 'Chaîne hors ligne';
                        details = '';
                    }
                } else {
                    titre = 'Chaîne hors ligne';
                    details = '';
                }
                if (change == 1) {
                    LoadDiv(tv,titre,player,details,chat);
                } else {
                    LoadDetails(titre,details);
                }
            }
        });
    
    }
    function LoadDiv(tv,titre,player,details,chat) {
        document.getElementById("sgtv").innerHTML = '<div id="tv_titre">'+titre+'</div><div id="tv_player">'+player+'</div><div id="tv_details">'+details+'</div>';
        document.getElementById("chat_frame").innerHTML = '<div id="tv_chat">'+chat+'</div>';
        var buttons = document.getElementsByClassName('tvbtn');
        for (i = 0; i < buttons.length; i++) {
            document.getElementById(buttons[i].id).style.backgroundPosition = "0px 0px";
        }
        document.getElementById(tv).style.backgroundPosition = "0px -238px";
        $.ajaxSetup({ cache: false });
        if (typeof interval != 'undefined') {
            clearInterval(interval);
        }
        interval = setInterval(function() {
            LoadAjax(tv);
        }, 10000);
    }
    function LoadDetails(titre,details) {
        document.getElementById("tv_titre").innerHTML = titre;
        document.getElementById("tv_details").innerHTML = details;
    }
    function ChangeTV(tv) {
        var player = '<div class="videoWrapper"><iframe id="player" src="http://www.twitch.tv/'+tv+'/embed" frameborder="0" scrolling="no"></iframe></div>';
        var chat = '<iframe id="chat" src="http://www.twitch.tv/'+tv+'/chat?popout=" frameborder="0" scrolling="no" height="500" width="350"></iframe>';
        LoadAjax(tv,1,player,chat);
    }
    ChangeTV('sgtv1');
    </script>
	</body>

</html>
