<div style="background-image:url('/static/images/profil/mid.png'),linear-gradient(rgba(209,182,129,1),rgba(136,114,73,1));width:100%;z-index:2;">
<div style="position:absolute;z-index:1;"><img src="/static/images/profil/top.png" width="199" /></div>
<div style="position:relative;z-index:2;padding-top:25px;">
<center>
{{detail.pseudo}}<br />
<img src="{{detail.avatar}}" width="40" />
<br />
{% if not contact and request.user != detail.u %}
<form method="POST" action="/profil/detail/{{detail.id}}/" id="add_contact{{detail.id}}">
{% csrf_token %}
<input type="submit" value="Ajouter à mes contacts" id="btn_add_ctct{{detail.id}}" onclick="$('#btn_add_ctct{{detail.id}}').val('Contact ajouté !');$('#btn_add_ctct{{detail.id}}').attr('disabled','disabled');AddFriend(event);" />
</form>
{% elif request.user != detail.u and contact != "offline" %}
Un de vos contacts.
{% elif contact != "offline" %}
C'est vous !
{% else %}
<a href="/profil/">S'inscrire pour<br />envoyer un message</a>
{% endif %}
{% if detail.u != request.user and contact != "offline" %}
<br />
<a href="JavaScript:void(0);" onclick="SendMsg();">Message</a>
{% endif %}
 <br />Cote : {{detail.cote}}
<br />
{% if detail.nom_privacy == 2 or detail.nom_privacy == 1 and contact %}
{{detail.nom}}
{% endif %}
{% if detail.prenom_privacy == 2 or detail.prenom_privacy == 1 and contact %}
 {{detail.prenom}}
<br />
{% endif %}
{% if detail.email_privacy == 2 or detail.email_privacy == 1 and contact %}
{{detail.email}}
<br />
{% endif %}
{% if detail.rue_privacy == 2 or detail.rue_privacy == 1 and contact %}
{{detail.rue}}
<br />
{% endif %}
{% if detail.localite_privacy == 2 or detail.localite_privacy == 1 and contact %}
{{detail.localite.localite}}
<br />
{% endif %}
{% if detail.pays_privacy == 2 or detail.pays_privacy == 1 and contact %}
{{detail.pays.pays}}
<br />
{% endif %}
{% if detail.battletag_privacy == 2 or detail.battletag_privacy == 1 and contact %}
{{detail.battletag}}
<br />
{% endif %}
Dernière connexion :
<br />
{{detail.lastseen|date:"d/m - H:i"}}
<br />
<div style="position:absolute;z-index:1;"><img src="/static/images/profil/bot.png" width="200" /></div>
<div style="position:relative;z-index:2;">
<a href="JavaScript:void(0);" onclick="iDiv=document.getElementById('showcontact');iDiv.parentNode.removeChild(iDiv);">Fermer</a></center>
</div>
</div>
</div>


<script type="text/JavaScript">
function AddFriend(event){
    event.preventDefault();
    $.ajax({ // create an AJAX call...
        data: $('#add_contact{{detail.id}}').serialize(), // get the form data
        type: $('#add_contact{{detail.id}}').attr('method'), // GET or POST
        url: $('#add_contact{{detail.id}}').attr('action'), // the file to call
        success: function(response) { // on success..
        }
    });
}
$(document).ready(function() {
    x = {{x}}
    y = {{y}} + window.pageYOffset
    div=$("#showcontact");
    if (x > $(window).width()-210) {
        x = $(window).width()-210;
    }
    if (y > $(window).height()+window.pageYOffset-div.outerHeight()-10) {
        y = $(window).height()+window.pageYOffset-div.outerHeight()-10;
    }
    div.css({"top":y+"px","left":x+"px","z-index":"1000"});
});
function SendMsg(){
    $("#waiting_notif").show();
    document.getElementById("chat_droite").style.height = "95%";
    $("#notif_feed").hide('slow');
    document.getElementById("notif_feed").style.height = "0%";
    document.getElementById("notif_feed").style.height = "70%";
    $("#notif_feed").load("/notification/messages/",function() {
        $("#messages").load("/notification/message/0/?dest={{detail.u.id}}",function() {
            $("#notif_feed").show('slow',function(){
                document.getElementById("chat_droite").style.height = "25%";
                $("#waiting_notif").hide();
    
            });
        });
        $("#titres").hide();
        $("#messages").show();
    });
    $("#feed_content").val("readmsg");
    iDiv=document.getElementById('showcontact');
    iDiv.parentNode.removeChild(iDiv);
}
</script>
