/* ELEM */

.elemental-container {
  display: none;
}
.animatable.elemental-container {
  display: none;
}
.animatable .elemental {
  -webkit-animation: bounceInUp 3s ease-in-out;
  animation: bounceInUp 3s ease-in-out;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.animatable .elemental__part {
  position: absolute;
  display: block;
  background: url("http://hearthstone-romandie.ch/static/images/divers/elem.png") 0 0 no-repeat;
}
.animatable .elemental__left-arm {
  top: 74px;
  left: 0;
  width: 64px;
  height: 100px;
  -webkit-transform: translate3d(0, -5px, 0);
  transform: translate3d(0, -5px, 0);
  -webkit-animation: leftArmFloat 4s 3.6s ease-in-out infinite;
  animation: leftArmFloat 4s 3.6s ease-in-out infinite;
}
.animatable .elemental__right-arm {
  top: 70px;
  left: 133px;
  background-position: -209px -76px;
  width: 87px;
  height: 96px;
  -webkit-transform: translate3d(0, -5px, 0);
  transform: translate3d(0, -5px, 0);
  -webkit-animation: armFloat 4s 3.3s ease-in-out infinite;
  animation: armFloat 4s 3.3s ease-in-out infinite;
}
.animatable .elemental__left-shoulder {
  top: 20px;
  left: 40px;
  background-position: -230px -2px;
  width: 51px;
  height: 47px;
  z-index: -1;
  -webkit-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0);
  -webkit-animation: leftShoulderFloat 4s 3.2s ease-in-out infinite;
  animation: leftShoulderFloat 4s 3.2s ease-in-out infinite;
}
.animatable .elemental__right-shoulder {
  top: 35px;
  left: 135px;
  background-position: -62px -85px;
  width: 50px;
  height: 53px;
  -webkit-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0);
  -webkit-animation: shoulderFloat 4s 3.2s ease-in-out infinite;
  animation: shoulderFloat 4s 3.2s ease-in-out infinite;
}
.animatable .elemental__rock {
  top: 142px;
  left: 62px;
  background-position: -30px -133px;
  width: 33px;
  height: 39px;
  -webkit-animation: rockFloat 4s 3.2s ease-in-out infinite;
  animation: rockFloat 4s 3.2s ease-in-out infinite;
}
.animatable .elemental__body {
  top: 36px;
  left: 58px;
  background-position: -113px 0;
  width: 97px;
  height: 173px;
  -webkit-animation: bodyFloat 4s 3s ease-in-out infinite;
  animation: bodyFloat 4s 3s ease-in-out infinite;
}

@-webkit-keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes bodyFloat {
  0%,
  100% {
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
}
@keyframes bodyFloat {
  0%,
  100% {
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
}
@-webkit-keyframes shoulderFloat {
  0%,
  100% {
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 18px, 0);
    transform: translate3d(0, 18px, 0);
  }
}
@keyframes shoulderFloat {
  0%,
  100% {
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 18px, 0);
    transform: translate3d(0, 18px, 0);
  }
}
@-webkit-keyframes leftShoulderFloat {
  0%,
  100% {
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 22px, 0);
    transform: translate3d(0, 22px, 0);
  }
}
@keyframes leftShoulderFloat {
  0%,
  100% {
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 22px, 0);
    transform: translate3d(0, 22px, 0);
  }
}
@-webkit-keyframes armFloat {
  0%,
  100% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
}
@keyframes armFloat {
  0%,
  100% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
}
@-webkit-keyframes leftArmFloat {
  0%,
  100% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
}
@keyframes leftArmFloat {
  0%,
  100% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
}
@-webkit-keyframes rockFloat {
  0%,
  100% {
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
}
@keyframes rockFloat {
  0%,
  100% {
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
}
/* ELEM */