
html, body {margin:0;padding:0;}

html, body {
	height: 100%;
	letter-spacing: 0.4px;
}

#canvas_all {
	position: relative;
	min-width: 1250px;
}

#footer {
	position: relative;
	display: block;
	width: 100%;
	margin-top: -300px;
	height: 300px;
	color: red;
	clear: both;
}

body {
/*	background-color: #4b371b;*/
	color: #FDF5E6;
	cursor: default;
	text-shadow: 1px 1px 0px rgba(0,0,0,1);
	background-color: #4b271d;
	background-image: url('/static/images/backgrounds/flous/flou_4_qs_2.jpg');
	background-attachment: fixed;
	background-repeat:no-repeat;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}

b {
	font-size: large;
}

a:link, a:visited, a {
	color: #cd853f;
	text-decoration: none;
	vertical-align: 0px;
}

a:hover {
	color: #deb887;
	vertical-align: 0px;
}

.boutons_texte {
	color: #cd853f;
	text-decoration: none;
	vertical-align: 0px;
	text-shadow: 1px 1px 0px rgba(0,0,0,1);
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}

.boutons_texte:hover {
	color: #deb887;
	vertical-align: 0px;
}

#deco {
	position: fixed;
	background: rgba(0,0,0, 0.8) url('/static/images/backgrounds/repeat/Diago_transp_50opacity.png');
	border: 3px double rgba(139,69,19, 1);
	-webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,1);
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,1);
	padding: 5px;
	margin: 10px;
}

#sgtv {
	position: fixed;
	background: rgba(0,0,0, 0.8) url('/static/images/backgrounds/repeat/Diago_transp_50opacity.png');
	border: 3px double rgba(139,69,19, 1);
	-webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,1);
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,1);
	padding: 5px;
	margin: 10px;
	top: 80px;
}

#logo_sgtv_box {
	position: fixed;
	display: table;
	background-image: url('/static/images/webtv/logo/sgtv.png');
	background-size: 100%;
	background-repeat: no-repeat;
	top: 52px;
	left: 37px;
    width: 129.3px;
    height: 53.7px;
	z-index: 20;
}

#sgtv_deco {
	position: fixed;
	background: rgba(0,0,0, 0.8) url('/static/images/backgrounds/repeat/Diago_transp_50opacity.png');
	border: 3px double rgba(139,69,19, 1);
	-webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,1);
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,1);
	padding: 5px;
	margin: 10px;
	top: 32px;
	right: 0px;
}

#logo_sgtv_box_deco {
	position: fixed;
	display: table;
	background-image: url('/static/images/webtv/logo/sgtv.png');
	background-size: 100%;
	background-repeat: no-repeat;
	top: 5px;
	right: 07px;
    width: 129.3px;
    height: 53.7px;
	z-index: 20;
}

.tr_webtv {
	cursor: pointer;
}

#messages_erreur {
	text-align: center;
	vertical-align: middle;
	margin: 1%;
	color: red;
}

#messages {
	text-align: center;
	vertical-align: middle;
	margin: 1%;
}

#logo {
	position: absolute;
	background-image: url('/static/images/logos/585px_Hearthstone_Logo_TRANSP_WO_FOND_DELIRE_GVG.png');
    background-size:440px 160px;
    width: 440px;
    height: 160px;
    left: 50%;
    margin-left: -233px;
    top: -20px;
    z-index: 14;
}

#logo_gvg {
	position: absolute;
	background-image: url('/static/images/divers/gvg.png');
    width: 435px;
    height: 385px;
    -moz-transform: scale(0.5) rotate(10deg);
	-webkit-transform: scale(0.5) rotate(10deg);
	-o-transform: scale(0.5) rotate(10deg);
	-ms-transform: scale(0.5) rotate(10deg);
	transform: scale(0.5) rotate(10deg);
	-webkit-backface-visibility: hidden;
    left: 49.2%;
    top: 40px;
    z-index: 12;
}

/*#getg {
	position: absolute;
	background-image: url('http://hearthstone-romandie.ch/static/images/divers/gvg_out.png');
	background-repeat: no-repeat;
    width: 300px;
    height: 211px;
    top: -20px; left: 22.5%; margin-left: -105.5px;
    z-index: 17;
}*/

/* MENU */

#menu {
	position: absolute;
	background: url('/static/images/menu/Rond_rempli.png');
    background-size: 220px 220px;
    width: 220px;
    height: 220px;
    left: 50%;
    margin-left: -107px;
    top: 86px;
    z-index: 13;
}

#menu_actualite_h {
	position: absolute;
	background: url('/static/images/menu/Hover/actualite.png');
    background-size:140px 25px;
    background-repeat: 'no-repeat';
    width: 140px;
    height: 25px;
    left: 50%;
    margin-left: -66px;
    top: 133px;
    z-index: 14;
}
#menu_actualite_h:hover {
	background: url('/static/images/menu/Hover/actualite_h.png');
    background-size:140px 25px;
}
#menu_actualite_h:active {
	top: 134px;
}

#menu_tournoi_h {
	position: absolute;
	background: url('/static/images/menu/Hover/tournoi.png');
    background-size:137px 24px;
    width: 137px;
    height: 24px;
    left: 50%;
    margin-left: -66px;
    top: 233px;
    z-index: 14;
}
#menu_tournoi_h:hover {
	background: url('/static/images/menu/Hover/tournoi_h.png');
    background-size:137px 24px;
}
#menu_tournoi_h:active {
	top: 234px;
}

#menu_forum_h {
	position: absolute;
	background: url('/static/images/menu/Hover/forum.png');
    background-size:164px 26px;
    width: 164px;
    height: 26px;
    left: 50%;
    margin-left: -78px;
    top: 164px;
    z-index: 14;
}

#menu_forum_h:hover {
	background: url('/static/images/menu/Hover/forum_h.png');
    background-size:164px 26px;
}
#menu_forum_h:active {
	top: 165px;
}

#menu_membres_h {
	position: absolute;
	background: url('/static/images/menu/Hover/membres.png');
    background-size:164px 28px;
    width: 164px;
    height: 28px;
    left: 50%;
    margin-left: -78px;
    top: 197px;
    z-index: 14;
}

#menu_membres_h:hover {
	background: url('/static/images/menu/Hover/membres_h.png');
    background-size:164px 28px;
}
#menu_membres_h:active {
	top: 198px;
}

/* FIN MENU */

#content {
	background: rgba(0,0,0, 0.8) url('/static/images/backgrounds/repeat/Diago_transp_50opacity.png');
	border: 3px double rgba(139,69,19, 1);
	position: relative;
	top: 290px;
    width:48%;
	left: 50%;
	margin-left: -24%;
	margin-bottom: 0.5%;
	padding: 0.5%;
	z-index: 14;
	-webkit-box-shadow: 0px 0px 27px 9px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 27px 9px rgba(0,0,0,1);
	box-shadow: 0px 0px 27px 9px rgba(0,0,0,1);
}

#liens {
	background: rgba(0,0,0, 0.8) url('/static/images/backgrounds/repeat/Diago_transp_50opacity.png');
	border: 3px double rgba(139,69,19, 1);
	position: fixed;
	left: 0px;
	margin: 10px;
	top: 240px;
	height: 120px;
	width: 17%;
	min-width: 225px;
	min-height: 110px;
	padding: 10px;
	-webkit-box-shadow: 0px 0px 27px 9px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 27px 9px rgba(0,0,0,1);
	box-shadow: 0px 0px 27px 9px rgba(0,0,0,1);
	
}

.liens-titre h3 {
	position: absolute;
	top: -14px;
}

.liens_liste {
	position: relative;
	top: 5px;
}

#twitter_bird {
	position: fixed;
	display: table;
	background-image: url('/static/images/divers/tweet.png');
	background-size: 100%;
	background-repeat: no-repeat;
	top: 422px;
	left: 130px;
    width: 50px;
    height: 63px;
	z-index: 20;
}

#twitter_box {
	background: rgba(0,0,0, 0.8) url('/static/images/backgrounds/repeat/Diago_transp_50opacity.png');
	border: 3px double rgba(139,69,19, 1);
	position: fixed;
	left: 0px;
	margin: 10px;
	top: 438px;
	height: 270px;
	width: 17.6%;
	min-width: 225px;
	padding: 5px;
	-webkit-box-shadow: 0px 0px 27px 9px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 27px 9px rgba(0,0,0,1);
	box-shadow: 0px 0px 27px 9px rgba(0,0,0,1);
}

/*#gvg_cards {
	background: rgba(0,0,0, 0.8) url('/static/images/backgrounds/repeat/Diago_transp_50opacity.png');
	border: 3px double rgba(139,69,19, 1);
	position: fixed;
	left: 0px;
	margin: 10px;
	top: 370px;
	height: 165px;
	width: 17%;
	min-width: 225px;
	padding: 5px;
	-webkit-box-shadow: 0px 0px 27px 9px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 27px 9px rgba(0,0,0,1);
	box-shadow: 0px 0px 27px 9px rgba(0,0,0,1);
	overflow-y: hidden;
	overflow-x: auto;
	white-space: nowrap;
	
}

#gvg_pack {
	position: fixed;
	display: table;
	background-image: url('/static/images/cartes_gvg/pack.png');
	background-size: 100%;
	background-repeat: no-repeat;
	top: 330px;
	left: 7.2%;
    width: 57px;
    height: 70px;
	z-index: 20;
}

#gvg_cards_bientot {
	position: relative;
	background-image: url('/static/images/divers/bientot.png');
	background-size: 100%;
	background-repeat: no-repeat;
	left: 50%;
	margin-left: -100px;
	top: 50%;
	margin-top: -25px;
    width: 200px;
    height: 50px;
	z-index: 20;
}*/


#menu_droite {
	background: rgba(0,0,0, 0.8) url('/static/images/backgrounds/repeat/Diago_transp_50opacity.png');
	border: 3px double rgba(139,69,19, 1);
	position: fixed;
	bottom: 0px;
	width: 17%;
	min-width: 225px;
	top: 0px;
	right: 0px;
	margin: 10px;
	padding: 5px;
	overflow: auto;
	-webkit-box-shadow: 0px 0px 27px 9px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 27px 9px rgba(0,0,0,1);
	box-shadow: 0px 0px 27px 9px rgba(0,0,0,1);
	
}

.profil_change th {
    text-align: right;
}

/* FOOTER */
#footers {
	position: relative;
	bottom: 0px;
	width: 100%;
	height: 200px;
	border: 3px double rgba(139,69,19, 1);
}
/* FOOTER */

#table_recherche {
	background-color: rgba(230,184,138,0.7);
	border: 1px solid rgba(230,184,138,0.6);
	position: relative;
	width: 60%;
	left: 50%;
	margin-left: -30%;
}

#table_recherche, #table_recherche td, #table_recherche tr {
	padding: 0.5%;
}

#table_log {
	background-color: rgba(230,184,138,0.1);
	border: 1px solid rgba(230,184,138,0.6);
	position: relative;
	width: 40%;
	left: 50%;
	padding: 1%;
	margin-left: -20%;
}

#table_subscribe {
	background-color: rgba(230,184,138,0.1);
	border: 1px solid rgba(230,184,138,0.6);
	position: relative;
	width: 50%;
	left: 50%;
	padding: 1%;
	margin-left: -25%;
}

#table_validation {
	background-color: rgba(230,184,138,0.1);
	border: 1px solid rgba(230,184,138,0.6);
	position: relative;
	width: 45%;
	left: 50%;
	padding: 1%;
	margin-left: -22.5%;
}

/* ACTUALITE */

.table_actualite_titre {
	width: 99%;
	text-align: center;
	padding: 0.5%;
}
.table_actualite_content {
	position: relative;
	text-align: center;
	padding: 1%;
	width: 88.2%;
	left: 50%;
	margin-left: -45%;
	background-color: rgba(230,184,138,0.1);
	border: 1px solid rgba(230,184,138,0.6);
	overflow: none;
}

/* END ACTUALITE */

/* MEMBRES */
.table_membres {
	position: relative;
	width: 100%;
	overflow: none;
}

.div_membres {
    background-image: url('/static/images/backgrounds/profil_collec.png');
    background-repeat: no-repeat;
}

.recherche_avatar {
	-webkit-filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.3));
	-moz-filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.3));
	filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.3));
}

.recherche_avatar:hover {
	-webkit-filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.3));
	-moz-filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.3));
	filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.3));
}
/* END MEMBRES */




/* PROFIL */
table#profil {
	position: relative;
	width: 80%;
	left: 50%;
	margin-left: -40%;
	padding: 1%;
	background-color: rgba(230,184,138,0.1);
	border: 1px solid rgba(230,184,138,0.6);
	
}

.profil_gauche {
	text-align: right;
	width: 50%;
	font-size: 130%;
}

.profil_droite {
	display: inline;
	vertical-align: -5px;
	
}

table#modification_profil {
	position: relative;
	width: 80%;
	left: 50%;
	margin-left: -40%;
	padding: 1%;
	background-color: rgba(230,184,138,0.1);
	border: 1px solid rgba(230,184,138,0.6);
	border-spacing: 0px;
}

table#modification_profil td {
	padding-top: 1%;
	padding-bottom: 1%;
	border-top: 1px solid rgba(230,184,138,0.6);
}

table#contacts_profil {
	position: relative;
	width: 40%;
	left: 50%;
	margin-left: -20%;
	padding: 1%;
	background-color: rgba(230,184,138,0.1);
	border: 1px solid rgba(230,184,138,0.6);	
}

.boite_profil_detail {
	position: relative;
	background-color: rgba(0,0,0,0.4);
	border: 3px double rgba(139,69,19,1);
	border-spacing: 0px;
	width: 145px;
	left: -1px;
}

/* END PROFIL */

/* TOURNOI ARBRE */

.clear {clear:both;}

div#arbre {
    width:100%;
    position:relative;
}

div.col {
    width:18%;
    float:left;
    margin-left:2%;
}

div.match {
    width:100%;
    height:80px;
    background-image: url('/static/images/tournoi/match_fond.png');
    background-size: 100% 80px;
    position:relative;
}

div.finale {
    width:100%;
    height:100px;
    background-image: url('/static/images/tournoi/match_finale_fond.png');
    background-size: 100% 115px;
    padding-top:15px;
}

div.next_match {
    background-image: url('/static/images/tournoi/match_fond_h.png')
}

div.next_matchfinale {
    background-image: url('/static/images/tournoi/match_finale_fond_h.png')
}


div.inter1 {
    height:40px;
}

div.inter2 {
    height:120px;
}

div.inter3 {
    height:280px;
}

div.inter4 {
    height:600px;
}
div.inter5 {
    height:1240px;
}
 div.pseudo {
    width:50%;
    margin-left:7%;
    height:32px;
    text-align:center;
    line-height:40px;
    float:left;
}
div.resultat {
    width:12%;
    height:32px;
    text-align:center;
    line-height:40px;
    margin-left:55%;
    position:absolute;
}

div.resultat2 {
    margin-top:32px;
}

div.boutons {
    width:30%;
    height:32px;
    text-align:center;
    line-height:40px;
    margin-left:2%;
    position:absolute;
    margin-left:70%;
}

div.boutons2 {
    line-height:40px;
    margin-top:32px;
}
/* END TOURNOI ARBRE */


/* FENETRE DROITE */
.message_date {
	color: #CDC0B0;
}


@media screen and (max-width: 1500px)
{
    #content {
        width:630px;
        margin-left: -355px;
    }
    
}

