/* CSS DOCUMENT SGTV

colorsheet
red is #911802

*/

/* ---- RESET  ---- */

body, h1, h2, h3, h4, h5, h6, ul, li, strong, button, input {
    margin:0;
    padding:0;
}

.clear {clear:both;}
button {cursor:pointer;}
a {text-decoration:none;color:#911802;cursor: pointer;/*fix bug*/}
a:hover {color:#fff;}


/* ----- MAIN STANDARD 800px-----  */
body {
    color: #fff;
    background-color: #161616;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.main {min-width: 800px;}

header {
    height: 55px;
    margin-bottom: 28px;
}

.content {
    float: left;
    width: 500px;
}

aside {
    width: 300px;
    float: right;
}

.sub-content {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 25px;
    /* no height for bug fix */
}


/* ----- HEADER ----- */

header ul {
    display: inline-block;
}

header ul li {display: inline-block;}

.mod {
    margin: 0 20px;
}

.mod li a {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    margin: 0 2px;
}

.popup {
    background: url('/static/images/webtv/popup.png') center bottom;
    height: 22px;
    width: 33px;
}
.sofa {
    background: url('/static/images/webtv/sofa.png') center center;
    height: 22px;
    width: 33px;
}
.fullscreen {
    background: url('/static/images/webtv/fullscreen.png') center center;
    width: 21px;
    height: 21px;
}

#buttons a {
    padding-top: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    display: block;
    width: 105px;
    height: 40px;
    background: none;
    border: 0px;
    margin: 0;
    color: #fff;
}

#buttons li {
    outline: none;
}
/*
header ul li:last-child a {
    margin-left: 17px;
}*/

#buttons a:hover {
    background: #911802;
}

/* ----- SUBCONTENT ----- */

.logos {
    float: left;
    width: 100px;
    height: 100%;
    margin-left: 40px;
    list-style: none;
}


.logos li a {
    display: block;
    height: 70px;
    margin-bottom: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.sgtv {background:url('/static/images/webtv/logo/sgtv.png');}
.geneva {background:url('/static/images/webtv/logo/geneva_esport.png');}
.rodg {background:url('/static/images/webtv/logo/romandy_gaming.png');}
.gfed {background:url('/static/images/webtv/logo/gaming_federation.png');}
.hsrom {background:url('/static/images/webtv/logo/hsr_transp.png');}


.sub-content article {
    float: right;
    width: 35%;
    margin-right: 40px;
}


.sub-content article:last-child ul {
    margin-left: 17px;
}

/* ----- ONLY TWITCH API ----- */

#player {
    width: 100%;
    height: 320px;
}

#chat {
    height: 440px;
    margin: 0;
}

#tv_titre {
    text-transform: uppercase;
    margin: 0 0 11px 10px;
}


/* --------------------------- */
/* ------- RESPONSIVE -------- */
/* --------------------------- */
/* responsive page don t remove this */
@media screen and (min-width: 820px) {

.sub-content article {
    float: right;
}



/* --- for twitch --- */

#chat {
    position: fixed;
    right: 0px;
    top: 0px;
    bottom: 0px;
    height: 100%;
    width: 320px;
}

.main {
    padding-right: 320px;
    min-width: inherit;
}
.content {
    width: 100%;
    height: 100%;
}

/* player responsive fix standard screen */
@media (min-height: 600px){#player {height: 360px;}}
@media (min-height: 800px){#player {height: 560px;}}
@media (min-height: 970px){#player {height: 760px;}}
}
