html, body {margin:0;padding:0;}

html, body {
	height: 100%;
	letter-spacing: 0.4px;
}

#footer {
	position: relative;
	display: block;
	width: 100%;
	margin-top: -300px;
	height: 300px;
	color: red;
	clear: both;
}

body {
/*	background-color: #4b371b;*/
	color: white;
	cursor: default;
	text-shadow: 1px 1px 0px rgba(0,0,0,1);
	background-color: black;
	background-image: url('/static/images/backgrounds/flous/flou_4_qs.jpg');
	background-attachment: fixed;
	background-repeat:no-repeat;
	font-family: 'Balthazar', serif;
}

a:link, a:visited, a {
	color: #cd853f;
	text-decoration: none;
	cursor: pointer;
	vertical-align: -0.19px;
}

a:hover {
	color: #deb887;
	vertical-align: -0.19px;
}

#deco {
	position: absolute;
	background: rgba(0,0,0, 0.8) url('/static/images/backgrounds/repeat/Diago_transp_50opacity.png');
	border: 3px double rgba(139,69,19, 1);
	-webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,1);
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,1);
	padding: 0.5%;
	margin: 0.5%
}

#messages_erreur {
	text-align: center;
	vertical-align: middle;
	margin: 1%;
	color: red;
}

#messages {
	text-align: center;
	vertical-align: middle;
	margin: 1%;
}

#logo {
	position: absolute;
	background-image: url('/static/images/logos/585px_Hearthstone_Logo_TRANSP_WO_FOND_DELIRE.png');
    width: 644px;;
    height: 239px;
    left: 50%;
    margin-left: -343px;
    top: -20px;
    z-index: 14;
}

/* MENU */

#menu {
	position: absolute;
	background: url('/static/images/menu/Rond_rempli.png');
    width: 320px;
    height: 330px;
    left: 50%;
    margin-left: -157px;
    top: 125px;
    z-index: 13;
}

#menu_actualite_h {
	position: absolute;
	background: url('/static/images/menu/Hover/actualite.png');
    width: 203px;
    height: 37px;
    left: 50%;
    margin-left: -98px;
    top: 195px;
    z-index: 14;
}
#menu_actualite_h:hover {
	background: url('/static/images/menu/Hover/actualite_h.png');
}
#menu_actualite_h:active {
	top: 196px;
}

#menu_tournoi_h {
	position: absolute;
	background: url('/static/images/menu/Hover/tournoi.png');
    width: 201px;
    height: 35px;
    left: 50%;
    margin-left: -99px;
    top: 345px;
    z-index: 14;
}
#menu_tournoi_h:hover {
	background: url('/static/images/menu/Hover/tournoi_h.png');
}
#menu_tournoi_h:active {
	top: 346px;
}

#menu_forum_h {
	position: absolute;
	background: url('/static/images/menu/Hover/forum.png');
    width: 237px;
    height: 39px;
    left: 50%;
    margin-left: -114px;
    top: 242px;
    z-index: 14;
}

#menu_forum_h:hover {
	background: url('/static/images/menu/Hover/forum_h.png');
}
#menu_forum_h:active {
	top: 243px;
}

#menu_membres_h {
	position: absolute;
	background: url('/static/images/menu/Hover/membres.png');
    width: 237px;
    height: 39px;
    left: 50%;
    margin-left: -114px;
    top: 292px;
    z-index: 14;
}

#menu_membres_h:hover {
	background: url('/static/images/menu/Hover/membres_h.png');
}
#menu_membres_h:active {
	top: 293px;
}

/* FIN MENU */

#content {
	background: rgba(0,0,0, 0.8) url('/static/images/backgrounds/repeat/Diago_transp_50opacity.png');
	border: 3px double rgba(139,69,19, 1);
	position: relative;
	top: 388px;
	width: 56%;
	left: 50%;
	margin-left: -28%;
	padding: 0.5%;
	z-index: 14;
	color: white;
	-webkit-box-shadow: 0px 0px 27px 9px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 27px 9px rgba(0,0,0,1);
	box-shadow: 0px 0px 27px 9px rgba(0,0,0,1);
}

#liens {
	background: rgba(0,0,0, 0.8) url('/static/images/backgrounds/repeat/Diago_transp_50opacity.png');
	border: 3px double rgba(139,69,19, 1);
	position: absolute;
	left: 0.5%;
	top: 150px;
	width: 17%;
	padding: 0.4%;
	-webkit-box-shadow: 0px 0px 27px 9px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 27px 9px rgba(0,0,0,1);
	box-shadow: 0px 0px 27px 9px rgba(0,0,0,1);
	
}

#menu_droite {
	background: rgba(0,0,0, 0.8) url('/static/images/backgrounds/repeat/Diago_transp_50opacity.png');
	border: 3px double rgba(139,69,19, 1);
	position: absolute;
	top: 150px;
	width: 17%;
	right: 0.5%;
	padding: 0.4%;
	-webkit-box-shadow: 0px 0px 27px 9px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 27px 9px rgba(0,0,0,1);
	box-shadow: 0px 0px 27px 9px rgba(0,0,0,1);
	
}

/* FOOTER */
#footers {
	position: relative;
	bottom: 0px;
	width: 100%;
	height: 200px;
	border: 3px double rgba(139,69,19, 1);
}
/* FOOTER */

#table_recherche {
	background-color: rgba(230,184,138,0.1);
	border: 1px solid rgba(230,184,138,0.6);
	position: relative;
	width: 60%;
	left: 50%;
	margin-left: -30%;
}

#table_recherche, #table_recherche td, #table_recherche tr {
	padding: 0.5%;
}

#table_log {
	background-color: rgba(230,184,138,0.1);
	border: 1px solid rgba(230,184,138,0.6);
	position: relative;
	width: 40%;
	left: 50%;
	padding: 1%;
	margin-left: -20%;
}

#table_subscribe {
	background-color: rgba(230,184,138,0.1);
	border: 1px solid rgba(230,184,138,0.6);
	position: relative;
	width: 50%;
	left: 50%;
	padding: 1%;
	margin-left: -25%;
}

#table_validation {
	background-color: rgba(230,184,138,0.1);
	border: 1px solid rgba(230,184,138,0.6);
	position: relative;
	width: 45%;
	left: 50%;
	padding: 1%;
	margin-left: -22.5%;
}

/* ACTUALITE */

.table_actualite_titre {
	width: 99%;
	text-align: center;
	padding: 0.5%;
}
.table_actualite_content {
	position: relative;
	text-align: center;
	padding: 1%;
	width: 88.2%;
	left: 50%;
	margin-left: -45%;
	background-color: rgba(230,184,138,0.1);
	border: 1px solid rgba(230,184,138,0.6);
	overflow: none;
}

/* END ACTUALITE */

/* MEMBRES */
.table_membres {
	position: relative;
	background-color: rgba(230,184,138,0.1);
	border: 1px solid rgba(230,184,138,0.6);
	width: 100%;
	overflow: none;
}

.recherche_avatar {
	-webkit-filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.3));
	-moz-filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.3));
	filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.3));
}

.recherche_avatar:hover {
	-webkit-filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.3));
	-moz-filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.3));
	filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.3));
}
/* END MEMBRES */




/* PROFIL */
table#profil {
	position: relative;
	width: 80%;
	left: 50%;
	margin-left: -40%;
	padding: 1%;
	background-color: rgba(230,184,138,0.1);
	border: 1px solid rgba(230,184,138,0.6);
	
}

.profil_gauche {
	text-align: right;
	width: 50%;
	font-size: 130%;
}

.profil_droite {
	display: inline;
	vertical-align: -5px;
	
}

table#modification_profil {
	position: relative;
	width: 80%;
	left: 50%;
	margin-left: -40%;
	padding: 1%;
	background-color: rgba(230,184,138,0.1);
	border: 1px solid rgba(230,184,138,0.6);
	border-spacing: 0px;
}

table#modification_profil td {
	padding-top: 1%;
	padding-bottom: 1%;
	border-top: 1px solid rgba(230,184,138,0.6);
}

table#contacts_profil {
	position: relative;
	width: 40%;
	left: 50%;
	margin-left: -20%;
	padding: 1%;
	background-color: rgba(230,184,138,0.1);
	border: 1px solid rgba(230,184,138,0.6);	
}


/* END PROFIL */

/* TOURNOI ARBRE */

.clear {clear:both;}

div#arbre {
    width:100%;
    position:relative;
}

div.col {
    width:18%;
    float:left;
    margin-left:2%;
}

div.match {
    width:100%;
    height:80px;
    background-image: url('/static/images/tournoi/match_fond.png');
    background-size: 100% 80px;
    position:relative;
}

div.finale {
    width:100%;
    height:100px;
    background-image: url('/static/images/tournoi/match_finale_fond.png');
    background-size: 100% 115px;
    padding-top:15px;
}

div.next_match {
    background-image: url('/static/images/tournoi/match_fond_h.png')
}

div.next_matchfinale {
    background-image: url('/static/images/tournoi/match_finale_fond_h.png')
}


div.inter8 {
    height:40px;
}

div.inter4 {
    height:120px;
}

div.inter2 {
    height:280px;
}

div.inter0 {
    height:600px;
}
 div.pseudo {
    width:50%;
    margin-left:7%;
    height:32px;
    text-align:center;
    line-height:40px;
    float:left;
}
div.resultat {
    width:12%;
    height:32px;
    text-align:center;
    line-height:40px;
    margin-left:55%;
    position:absolute;
}

div.resultat2 {
    margin-top:32px;
}

div.boutons {
    width:30%;
    height:32px;
    text-align:center;
    line-height:40px;
    margin-left:2%;
    position:absolute;
    margin-left:70%;
}

div.boutons2 {
    line-height:40px;
    margin-top:32px;
}
/* END TOURNOI ARBRE */
